@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-screen-xl p-4;
}

.title {
    @apply text-4xl font-extrabold mb-6 text-gray-900;
}

.content {
    @apply mx-auto p-4;
}

@layer components {
    .custom-checkbox {
        @apply h-6 w-6 border border-gray-300 text-gray-300;
        background-color: #fff;
        border-radius: 0.25rem;
        appearance: none;
        outline: none;
        cursor: pointer;
        position: relative;
    }

    .custom-checkbox:checked::before {
        content: '✔';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
    }
}